<!DOCTYPE html>
<html>
<head>
  <title>Hair Salon</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="~/js/scripts.js"></script>
</head>
<body>


  <div class="w3-navbar w3-gray">
    <a class="active" href="/">Home</a>

  <!-- image bg -->
</div>
<hr>
<br>
<!-- start slide -->
<div class="slideshow-container">
  <!-- 1 -->
  <div class="w3-container">
    <div class="mySlides fade">
      <img src="~/img/cover2.jpg" style="width:90%">
      <hr>
      <div class="w3-container w3-purple w3-padding large">
        <div style="text-align:center">Welcome To</div>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="container">
    <div class="mySlides fade">
      <img src="~/img/cover1.jpg" style="width:100%">
      <hr>
      <div class="w3-container w3-purple w3-padding large">
        <div style="text-align:center">The Best</div>
      </div>
    </div>
    <!--3 -->
    <div class="container">
      <div class="mySlides fade">
        <img src="~/img/cover3.jpg" style="width:100%">
        <hr>
        <div class="w3-container w3-purple w3-padding large">
          <div style="text-align:center">In The West</div>
        </div>
      </div>
    </div>
    <!-- end slide -->
  </div>

  <!-- functionality for pics -->
  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>


  <div class="container">
    <hr>
    @RenderBody()

  </body>
</div>
</html>
