@{
Layout = "_Layout";
}

<div class="w3-container">
  <form action="/specialties" method="post">
    <hr>
    <div class="w3-bar w3-orange"><h3>New Specialty</h3></div>
    <hr>
    <div class="form-group">
      <label for="new-specialty">Name</label>
      <input id="new-specialty" name="new-specialty" type="text">
    </div>
    <button type="submit" class="btn btn-info">Add</button>
  </form>
  <p><a href="/specialties" class="btn btn-info">Back to specialties</a></p>
</div>
