@{
  Layout = "_Layout";
}

<div class="container">
<h1>Styles</h1>
<hr>
<h2>Edit: @Model.GetSpecialtyName()</h2>
<form action="/specialties/@Model.GetSpecialtyId()/update" method="post">
  <label for="new-specialty-name">New Style</label>
  <input id="new-specialty-name" type="text" name="new-specialty-name" value="@Model.GetSpecialtyName()">
  <div class="btn btn-info" type="submit">Update</div>
</form>
</div>
