@{
Layout = "_Layout";
}
<h1>Be a Client!</h1>
<form action="/employees/@Model.GetId()" method="post">
  <input id='employeeId' name='employeeId' type='hidden' value="@Model.GetId()">
  <label for="new-client">Add a client</label>
  <input id="new-client" name="new-client" type="text">
  <button type="submit">Add a New Client!</button>
</form>
<hr>
