@{
  Layout = "_Layout";
}
<br>
<div class="container">
  <div class="col-md-6">
  <a href="/employee"><div class="btn btn-info">View Our Employee</div></a>
  </div>
</div>

<hr>

<div class="container">
  <div class="col-md-6">
  <a href="/employee/new"><div class="btn btn-info">Inquire!</div></a>
  </div>
</div>
