@{
  Layout = "_Layout";
}
<br>
<div class="container">
  <a href="/employees"><div class="btn btn-info">View Our Employee</div></a>
  <a href="/employees/new"><div class="btn btn-info">Inquire!</div></a>
</div>
