@{
Layout = "_Layout";
}

<div class="w3-container">
  <form action="/employees" method="post">
    <hr>
    <div class="w3-bar w3-green "><h3>New Employee</h3></div>
    <hr>
    <div class="form-group">
      <label for="new-name">Name</label>
      <input name="new-name" type="text">
    </div>
    <button type="submit" class="btn btn-info">Add</button>
  </form>
</div>
