@{
  Layout = "_Layout";
}

<h3>Current Clients:</h3>
@foreach (var client in @Model["client"])
{
  <ul>
    <li>@Model.GetClientName()</li>
  </ul>
}
  <br>
      <div class="container">
        <div class="btn btn-success"><a href="/employees/@Model["employee"].GetId()/clients/new">Add a client</a></div>
        <div class="btn btn-success"><a href="/employees/@Model["employee"].GetId()/delete">Clear CLients</a></div>
      </div>
