@{
  Layout = "_Layout";
}

@foreach (var employee in Model.GetEmployees())
{
  <ul>
    <li>@Model.GetEmployeeName()</li>
  </ul>
}
  <br>

    <a href='/<h1>@Model.GetEmployeeName()'></a>
      <hr>

      <div class="container">
        <div class="col-md-6">
          <form action="/employee/@Model.GetEmployeeId()/newClient" method="post">
            <h3>New Client</h3>
            <div class="form-group">
              <label for="clientName">Name</label>
              <input class="form-control" name="clientName" type="text" placeholder="First Last">
            </div>
            <button type="submit" class="btn btn-info">Add</button>
          </form>
        </div>
      </div>
    </div>

    <hr>
