<div class="container">
  <div class="col-md-6">
    <form action="/employee/new" method="post">
      <h3>Add a New Employee</h3>
      <div class="form-group">
        <label for="employeeName">Name</label>
        <input class="form-control" name="employeeName" type="text" placeholder="First Last">
      </div>
      <button type="submit" class="btn btn-info">Add</button>
    </form>
    <hr />
  </div>
  <div class="col-md-8" id="content">
    <h1><a href="/">Employees</a></h1>
    <hr />
  </div>
</div>
<div class="container">
  <div class="col-md-6">
    <form action="/employee/@Model.GetEmployeeId()/newClient" method="post">
      <h3>Add a New Client</h3>
      <div class="form-group">
        <label for="clientName">Name</label>
        <input class="form-control" name="clientName" type="text" placeholder="First Last">
      </div>
      <button type="submit" class="btn btn-info">Add</button>
    </form>
  </div>
  <div class="col-md-6" id="content">
    <h3>@Model.GetEmployeeName()</h3>
    <hr />
    @foreach (var item in Model.GetClients())
    {
      <h4>@item.GetClientName()</h4>
    }
  </div>
</div>
