@{
  Layout = "_Layout";
}

<h3>Current Clients:</h3>
<ul>
@foreach (var client in @Model["client"])
{
    <li>@client.GetClientName()</li>
}
</ul>

  <br>
      <div class="container">
        <div class="btn btn-success"><a href="/employees/@Model["employee"].GetId()/clients/new">Add a client</a></div>
        <div class="btn btn-info"><a href="/employees">View Employees</a></div>
        <div class="btn btn-danger"><a href='/employees/employees/@Model["employee"].GetId()/delete'>Delete</a></div>
      </div>
