@{
  Layout = "_Layout";
}
<ul>
@foreach (var employee in Model)
{
    <li><a href="/employees/@employee.GetId()"> @employee.GetName()</a></li>
}
  </ul>
  <br>

  <div class="btn btn-danger"><a href="/employees/new">Add New Employee</a></div>
  <div class="btn btn-warning "><a href="/specialties/new">Add a Specialty</a></div>
  <hr>
  <form action="employees/delete" method="post">
  <button type="submit">Delete</button>
  </form>
<br>
