@{
Layout = "_Layout";
}

<!-- <div class="row">
<div class="w3-container">
<div class="w3-bar w3-red">
  <form action="/employee" method="post">
    <h3>New Employee</h3>
    <div class="form-group">
      <label for="employeeName">Name</label>
      <input class="form-control" name="employeeName" type="text" placeholder="First Last">
    </div>
    <button type="submit" class="btn btn-info">Add</button>
  </form>
</div>
</div>
</div>
<hr> -->
 <!-- -->
<div class="row">
<div class="w3-container">
<div class="w3 bar w3-blue">
  <ul>
    @foreach(var employee in Model)
    {
        <li><a href="/employee/@employee.GetEmployeeId()">@employee.GetEmployeeName()</a></li>
    }
  </ul>
  <hr />
</div>
