@{
  Layout = "_Layout";
}
<br>
  <div class="jumbotron">
    <h4>Check Your Stylist:</h4>
      <div class="panel panel-body-danger"></div>
<!--  -->
<div class="container">
  <hr>
  <a href="/employees"><div class="btn btn-primary">View Our Employees</div></a>
  <a href="/employees/new"><div class="btn btn-warning">Volunteer!</div></a>
  <a href="/specialties"><div class="btn btn-info">View Specialties</div></a>

</div>
 </div>
